[Unit]
Description=Stolon Sentinel
Documentation=https://github.com/sorintlab/stolon/blob/master/doc/simplecluster.md

[Service]
User={{ stolon_keeper_user }}
Group={{ stolon_keeper_user }}
Type=simple
ExecStart={{ stolon_unarchive_prefix }}/stolon-v{{ stolon_version }}-linux-amd64/bin/stolon-keeper --cluster-name {{ stolon_cluster_name }} --store-backend={{ stolon_store_backend }} --store-endpoints="{% for host in groups[etcd_cluster_group_name] %}http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379,{% endfor %}" --uid {{ stolon_postgres_uid }} --data-dir /var/lib/stolon/data/{{ stolon_postgres_uid }} --pg-su-password={{ stolon_pg_su_password }} --pg-repl-username=repluser --pg-repl-password={{ stolon_pg_repl_password }}
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
